@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --main-blue: #1c488b;
  --teal: #4ca0a1;
  --gatwick-dark: #0b1f2a;
  --gatwick-navy: #102c3a;
  --gatwick-blue: #4ca0a1;
  --gatwick-blue-light: #61b4b5;
  --text-light: #eaf6f8;
  --text-muted: #8faab3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px; /* default for desktop */
}

/* Smaller devices (iPhone, etc.) */
@media (max-width: 950px) {
  html {
    font-size: 10px;
  }
}

/* Very old phones */
@media (max-width: 650px) {
  html {
    font-size: 8px;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
